<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Jispr</string>
	<key>CFBundleExecutable</key>
	<string>Jispr</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.b3nsten.jispr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jispr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 B3nsten</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Jispr listens to your microphone while you dictate.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Jispr turns your speech into text on this Mac.</string>
</dict>
</plist>
